<h1>WeddingCourierへようこうそ!</h1>

<p>
  <br />
  <ul>
    Create a beautiful website for your wedding, <br />
    that you can show your guests! <br />
    <br />

    Want to send invitations for your wedding? <br />

    <a href="/">Click here</a>
    <br />
  </ul>
</p>

