<h1>WeddingCourierへようこそ !</h1>

<div class="welcome">
  <div class="row">    
    <div class="span6">
      <p class="announce">
        <br /><br /><br />
        <br /><br />
        Create a beautiful website for your wedding,<br />
        that you can show your guests! <br />
        <br />
      </p>
      <p class="hint">
        Want to send invitations for your wedding? <a href="/">Click here</a>
      </p>
    </div>
    <div class="span6">
      <%= image_tag('happycouple.png') %>
    </div>
  </div>
  <div class="span12">
    <p class="start-button">
      <a class="btn btn-primary btn-large" href="/">
        Create your website!
      </a>
    </p>
  </div>
</div>
